[submodule "workloads/pointer-chasing"]
	path = workloads/pointer-chasing
	url = https://github.com/afborchert/pointer-chasing.git
[submodule "workloads/uarch-bench"]
	path = workloads/uarch-bench
	url = https://github.com/travisdowns/uarch-bench.git
[submodule "workloads/fait-maison-spmv"]
	path = workloads/fait-maison-spmv
	url = https://github.com/Sable/fait-maison-spmv.git
[submodule "workloads/memorytest"]
	path = workloads/memorytest
	url = https://gist.github.com/hcoffey1/879903abcfe1468129991406a2a652a4
[submodule "workloads/lem-in"]
	path = workloads/lem-in
	url = https://github.com/hcoffey1/lem-in.git/tree/master
[submodule "workloads/ram_bench"]
	path = workloads/ram_bench
	url = https://github.com/emilk/ram_bench.git
